---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schedule - Elliot & Louise Wedding" theme='secondary'>
  <div class="page">
    <div class="container">
    </div>
  </div>
</Layout>

<style>
  .page {
    padding: 2rem 1rem;
    min-height: 100vh;
    background-color: var(--primary-light);
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
</style>